:root {
  --primary-bg: #fff;
  --text-color: #c9c3c3;
  --second-bg: #26a8ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--primary-bg);
}

li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

.icon {
  cursor: pointer;
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  padding: 7px 0;
  transition: all 0.2s ease;
  z-index: 99;
}

.navbar .nav-link:hover {
  background: #ffc107;
}

.navbar span {
  color: #ffc107;
}

.navbar.color-active {
  background-color: #fff;
  padding: 10px 0;
}

.navbar a {
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar .nav-link {
  color: #000;
  font-weight: 600;
}

/* Search */
.seacrhdiv {
  background: var(--second-bg);
}
form input {
  outline: none;
  border: none;
  background: transparent;
}

/* Job */
.jobContainer {
  background-color: var(--second-bg);
}

.singleJob {
  width: 250px;
  border: 1px solid var(--second-bg);
}

.singleJob:hover {
  background: var(--second-bg);
  cursor: pointer;
}

/* Responsive tablet */
/* @media screen and (max-width: 768px) {
  .footer .container .row .col {
    margin-bottom: 50px;
  }
} */
/* Responsive handphone */
